@import '../settings';
@import '../mixins/mq';
@import '../mixins/fontsize';

html {
  background: $color-lightgrey;
  font-size: $base-font-size;
  color: $color-darkgrey;
  font-family: $font-family-default;
}

::selection {
  background: $color-pink;
  color: $color-white;
}

div, p, h1, h2, h3, h4, h5, h6 {
  @include font-size(14px);
  line-height: 1.5;
}

div, p {
  text-align: left;
}

p, pre, ul, ol, hr {
  margin: 0 0 15px;
}

ul {
  list-style: square inside;
}

ol {
  list-style: decimal inside;
}

blockquote p {
  padding: 0 15px;
  border-left: 3px solid $color-midgrey-light;
  font-style: italic;
}

hr {
  width: 100%;
  height: 1px;
  background: $color-midgrey-light;
  border: 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}
