@import '../settings';
@import '../mixins/mq';

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-head;
  margin: 0 0 0.3em;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-pink;
  text-align: left;
}

h2, h3 {
  font-size: 18px;

  a:hover {
    text-decoration: none;
  }

  @include mq('min') {
    font-size: 20px;
  }

  @include mq('mid') {
    font-size: 22px;
  }
}
