@import '../settings';

blockquote, q {
  quotes: none;

  &:before, &:after {
    content: '';
    content: none;
  }
}

blockquote p {
  padding: 0 15px;
  border-left: 3px solid $color-midgrey-light;
  font-style: italic;
}
