@import '../settings';
@import '../mixins/mq';

#ribbon {
  display: none;

  @include mq('mid') {
    position: fixed;
    display: block;
    right: -50px;
    top: 45px;
    transform: rotate(45deg);
    overflow: hidden;
    white-space: nowrap;
    background-color: $color-pink;

    a {
      display: block;
      color: white;
      font-family: $font-family-head;
      font-weight: 700;
      font-size: 0.8em;
      margin: 1px 0;
      padding: 10px 50px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
