@import '../settings';
@import '../mixins/mq';

header {
  background: $color-yellow;
}

section, article {
  background: $color-white;
  border-bottom: 1px solid $color-lightgrey;
}

article img {
  display: block;
  max-width: 100%;
}
