include ../components/article/article.pug
include ../components/author/author.pug
include ../components/category/category.pug
include ../components/footer/footer.pug
include ../components/header/header.pug
include ../components/image/image.pug
include ../components/list/list.pug
include ../components/math/math.pug
include ../components/section/section.pug
