extends layout.pug

block content
  +section()
    +list()
      - const posts = getAllPosts(genesis)
      each page in posts
        +listItem(page.url, page.title, formatDate(page.date, 'MMMM Do YYYY'), page.highlight, page.parent)
