extends layout.pug

block content
  +section()
    h1 #{title}
    +list()
      each page in genesis.children.filter((page) => page.visible).reverse()
        +listItem(page.url, page.title, formatDate(page.date, 'MMMM Do YYYY'), page.highlight)
