extends layout.pug

block content
  +article((template === 'question' ? 'question' : null))
    +articleContent()
      | !{shortcodes(markdown(text || answer))}
      if (authors)
        each author in authors.split(/\s*,\s*/).filter(author => author.hire).map(author => genesis.findPageByUrl(`/authors/${author}`))
          | !{shortcodes(markdown(author.hire))}
    +articleMeta
      +articleCategory(parent)
      +articleActions
        +articleAction
          +link(getTwitterLink(url), 'Discuss on Twitter', 'twitter')(target='_blank', rel='noopener noreferrer')
        +articleAction
          +link(getGitHubLink(file), 'Edit on GitHub', 'github')(target='_blank', rel='noopener noreferrer')
