.tiles {
  $component: &;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: $spacing-small;
  list-style: none;
  margin: 0 0 1rem 0;

  @include respond-medium {
    grid-gap: $spacing-medium;
  }

  @include respond-large {
    grid-template-columns: 1fr 1fr;
  }

  #{$component}__link {
    display: flex;
    align-items: center;
    padding: 1rem;
    background: url('/assets/img/pattern.svg') 50% 100% repeat
      $color-unremarkable;
    background-size: 100% auto;
    background-color: var(--color, $color-background);
    border-radius: 1rem;
    color: var(--content, $color-content);
    text-decoration: none;
    opacity: 0.9;
    transition: opacity 200ms ease;

    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }

  #{$component}__icon {
    flex: 0 0 auto;
    margin-right: 1rem;
    padding: 1rem;
    background: $color-content;
    border-radius: 0.5rem;

    img {
      display: block;
      width: 2rem;
      height: 2rem;
    }
  }

  #{$component}__content {
    flex: 1 1 auto;
  }

  #{$component}__title {
    font-family: $font-family-titles;
    font-weight: $font-weight-titles;
    line-height: $line-height-titles;
    font-style: $font-style-titles;
    text-transform: uppercase;
  }
}
