mixin list()
  ul.list
    block

mixin listItem(url, title, meta, highlight = false)
  li.list__item(class={ 'list__item--highlight': highlight })
    if (url && title)
      a.list__title(href=url) #{title}
    if (meta)
      p.list__meta #{meta}
    block
