mixin list()
  ul.list
    block

mixin listItem(url, title, meta, highlight = false, category)
  li.list__item(class={ 'list__item--highlight': highlight })
    if (url && title)
      a.list__title(href=url) #{title}
    if (meta || category)
      p.list__meta
        if (category)
          +category(category).list__category
        = ' '
        if (meta)
          | #{meta}
    block
