.list {

  $component: &;

  list-style: none;
  margin: 0 0 ($spacing-small / 2) 0;

  @include respond-medium {
    margin-bottom: ($spacing-medium / 2);
  }

  @include respond-large {
    margin-bottom: ($spacing-large / 2);
  }

  &__item {

    ~ #{$component}__item {

      margin-top: ($spacing-small / 2);

      @include respond-medium {
        margin-top: ($spacing-medium / 2);
      }

      @include respond-large {
        margin-top: ($spacing-large / 2);
      }

    }

  }

  &__title {
    font-family: $font-family-headlines, sans-serif;
    font-weight: $font-weight-headlines;
    text-transform: uppercase;
  }

  &__meta {
    margin-bottom: 0;
  }

}
