@import 'settings';
@import 'reset';
@import 'fonts';
@import 'sprites';

html {
  background: $color-lightgrey;
}

body {
  font-size: 14px;
  color: $color-black;
  font-family: $font-family-default;
}

::selection {
  background: $color-pink;
  color: $color-white;
}

div, p, h1, h2, h3, h4, h5, h6 {
  font-size: 14px;
  line-height: 1.5;
}

div, p {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-head;
  margin: 0 0 0.3em;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-pink;
  text-align: left;
}

h1, h1 a {
  display: block;
  @include sprite-width($sprite-logo-1x);
  @include sprite-height($sprite-logo-1x);
}

h1 a {
  @include sprite($sprite-logo-1x);
  text-indent: -9999px;
}

h2, h3 {
  font-size: 18px;
}

h2 a:hover, h3 a:hover {
  text-decoration: none;
}

p, pre, ul, ol, hr {
  margin: 0 0 15px;
}

a {
  color: $color-pink;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:link, a:hover, a:active, a:visited, a:focus {
  outline: none;
}

ul {
  list-style: square inside;
}

ol {
  list-style: decimal inside;
}

blockquote p {
    padding: 0 15px;
    border-left: 3px solid #ccc;
    font-style: italic;
}

hr {
  width: 100%;
  height: 1px;
  background: #ccc;
  border: 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.center {
  max-width: 500px;
  margin: 0 auto;
  padding: 15px;
}

header {
  padding: 20px 0 0;
  background: $color-yellow;
}

section, article {
  background: $color-white;
  border-bottom: 1px solid $color-lightgrey;
}

article img {
  display: block;
  max-width: 100%;
}

.question h2 {
  margin: 0;
  padding: 12px 15px;
  background: $color-darkgrey;
  font-family: $font-family-default;
  font-size: 14px;
  text-transform: none;
  font-weight: normal;
  color: $color-lightgrey;
  position: relative;
  border-radius: 4px;
}

.question h2:after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 20px;
  width: 0;
  height: 0;
  border-width: 15px 0 0 15px;
  border-style: solid;
  border-color: $color-darkgrey transparent transparent;
}

.question h2 a {
  color: $color-white;
}

.asker {
  margin: 10px 0 0 50px;
  font-style: italic;
}

.answer {
  margin: 15px 0 0;
}

.meta {
  display: block;
  margin: 15px 0 0;
  font-family: $font-family-head;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  color: $color-midgrey-light;
}

.meta a:hover {
  text-decoration: none;
}

.permalink {
  color: $color-midgrey-light;
}

.permalink:hover {
  color: $color-midgrey-light;
}

.permalink:before {
  content: '\221e';
  margin: 0 6px 0 0;
  line-height: 15px;
  font-size: 20px;
  color: $color-pink;
  vertical-align: middle;
}

.permalink span {
  font-size: 8px;
  line-height: 12px;
  vertical-align: text-top;
}

.github-contributor {
  margin-right: 5px;
}

.contributor {
  margin: 0 0 15px;
  overflow: hidden;
}

.contributor img {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.contributor h2 {
  margin: 0;
  line-height: 1.3;
}

.contributor a {
  color: $color-black;
}

.github-username:before {
  content: '\0040';
}

nav {
  background: $color-white;
}

nav .center {
  text-align: center;
}

.center > :last-child {
  margin-bottom: 0;
}

p.github {
  position: relative;
  padding-left: 50px;
  min-height: 40px;
}

a.octocat {
  @include sprite($sprite-github-1x);
  position: absolute;
  display: block;
  left: 0;
  width: 40px;
  height: 40px;
}

a.octocat span {
  display: none;
}

#fapprik {
  font-weight: bold;
  color: $color-fapprik;
  font-style: italic;
}

#ribbon {
  display: none;
}

@import "code";

@media screen and (min-width: 320px) {

  .center {
    padding: 20px;
  }

  h2, h3 {
    font-size: 20px;
  }

}

@media screen and (min-width: 530px) {

  .center {
    padding: 40px;
  }

  h1 {
    margin: 0 auto;
  }

  h2, h3 {
    font-size: 22px;
  }

  header {
    padding: 0;
  }

  pre {
    margin: 0 -15px 15px;
  }

  #contributors {
    overflow: hidden;
  }

  .contributor {
    float: left;
    width: 50%;
  }

  #ribbon {
    @include sprite($sprite-ribbon-1x);
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    width: 150px;
    height: 150px;
    text-indent: -9999px;
  }

}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {

  header #logo {
    @include sprite-hdpi($sprite-logo-1x, $sprite-logo-2x);
  }

  a.octocat {
    @include sprite-hdpi($sprite-github-1x, $sprite-github-2x);
  }

  #ribbon {
    @include sprite-hdpi($sprite-ribbon-1x, $sprite-ribbon-2x);
  }

}

@media (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 3dppx), only screen and (min-resolution: 350dpi) {

  header #logo {
    @include sprite-hdpi($sprite-logo-1x, $sprite-logo-3x);
  }

  a.octocat {
    @include sprite-hdpi($sprite-github-1x, $sprite-github-3x);
  }

  #ribbon {
    @include sprite-hdpi($sprite-ribbon-1x, $sprite-ribbon-3x);
  }

}
