mixin contributor(username)
  a.contributor(href=`https://github.com/${username}`)
    img.contributor__avatar(data-src=`https://avatars.githubusercontent.com/${username}`, alt='')
    = ' '
    span.contributor__username #{username}
