mixin contributor(username)
  a.contributor(href='https://github.com/' + username)
    img.contributor__avatar(data-original='https://avatars.githubusercontent.com/' + username, alt='')
    = ' '
    span.contributor__username #{username}
