.article {
  $component: &;

  padding: $spacing-small;
  background: $color-content;

  @include respond-medium {
    padding: $spacing-medium;
  }

  @include respond-large {
    padding: $spacing-large;
  }

  ~ .section {
    padding-top: 0 !important;
  }

  #{$component}__wrapper {
    max-width: $max-wrapper-width;
    margin: 0 auto;
  }

  #{$component}__meta {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
  }

  #{$component}__actions {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0 0 0;
    list-style: none;

    @include respond-medium {
      flex-direction: row;
    }
  }

  #{$component}__action {
    flex: 0 0 auto;

    ~ #{$component}__action {
      margin-top: 1rem;

      @include respond-medium {
        margin-top: 0;
        margin-left: 1rem;
      }
    }
  }

  #{$component}__authors {
    margin-top: 1.5rem;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  #{$component}__category {
    flex: 0 0 auto;
    margin-right: 1rem;
  }

  #{$component}__date {
    flex: 0 0 auto;
    display: inline-block;
    margin-right: 1rem;
  }

  #{$component}__content {
    > *:last-child {
      margin-bottom: 0;
    }
  }
}
