@import '../settings';

.meta {
  display: block;
  margin: 15px 0 0;
  font-family: $font-family-head;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  color: $color-midgrey-light;

  a:hover {
    text-decoration: none;
  }
}
