@import '../settings';
@import '../mixins/fontsize';

.meta {
  @include font-size(12px);
  display: block;
  margin: 15px 0 0;
  font-family: $font-family-head;
  line-height: 22px;
  text-transform: uppercase;
  color: $color-midgrey-light;

  a:hover {
    text-decoration: none;
  }
}
