.logo {

  $component: &;

  $logo-font-size: ($font-size * 1.3);
  $logo-size-small: ($logo-font-size * $line-height * 2);

  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: $color-content;
  font-family: $font-family-headlines, sans-serif;
  font-weight: $font-weight-headlines;
  font-size: $logo-font-size;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
  }

  #{$component}__image {

    display: block;
    width: $logo-size-small;
    height: $logo-size-small;
    margin-right: $spacing-small;

    @include respond-medium {
      margin-right: $spacing-medium;
    }

  }

  #{$component}__partial {
    display: block;
    text-align: left;
  }

}
