.header {

  $component: &;

  padding: $spacing-small;
  background: url('../img/header-small.jpg') 50% 50% no-repeat;
  background-size: cover;

  @include respond-medium {
    padding: $spacing-medium;
  }

  @include respond-large {
    padding: $spacing-large $spacing-large ($spacing-large * 3);
    background-image: url('../img/header.jpg');
  }

  #{$component}__wrapper {

    max-width: $max-wrapper-width;
    margin: 0 auto;
    font-size: 0;

    @include respond-medium {
      text-align: center;
    }

    > *:last-child {
      margin-bottom: 0;
    }

  }

  #{$component}__logo {

    display: block;
    margin-bottom: $spacing-small;
    text-align: center;
    font-size: 20px;

    &,
    &:hover {
      text-decoration: none;
      color: $color-text;
    }

  }

}
