.header {
  $component: &;

  padding: $spacing-small;
  background: url('/assets/img/pattern.svg') 50% 100% repeat $color-header;
  background-size: $pattern-size-small;

  @include respond-medium {
    padding: $spacing-medium;
    background-size: $pattern-size-medium;
  }

  @include respond-large {
    padding: $spacing-large;
    background-size: $pattern-size-large;
  }

  #{$component}__wrapper {
    max-width: $max-wrapper-width;
    margin: 0 auto;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  #{$component}__site {
    margin-bottom: 1rem;
    font-weight: $font-weight-headlines;
    line-height: $line-height-headlines;
    font-style: $font-style-headlines;

    a {
      &,
      &:hover {
        text-decoration: none;
      }
    }
  }

  #{$component}__dev {
    font-family: $font-family-code;
    font-size: 1.5rem;
    text-transform: lowercase;
  }

  #{$component}__tips {
    font-family: $font-family-headlines;
    font-weight: $font-weight-headlines;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  #{$component}__title {
    margin-bottom: 1rem;

    h1 {
      margin-bottom: 0;
    }
  }
}
