mixin gallery(url, variant = 'default')
  span.gallery(class=`gallery--${variant}`)
    block

mixin galleryItem(url, title)
  span.gallery__item
    img(data-src=url, alt=(title || ''), title=title)
