.section {
  $component: &;

  padding: $spacing-small;
  background: $color-content;

  @include respond-medium {
    padding: $spacing-medium;
  }

  @include respond-large {
    padding: $spacing-large;
  }

  ~ #{$component} {
    padding-top: 0 !important;
  }

  #{$component}__wrapper {
    max-width: $max-wrapper-width;
    margin: 0 auto;

    > *:last-child {
      margin-bottom: 0;
    }
  }
}
