.footer {
  $component: &;

  padding: $spacing-small;
  background: url('/assets/img/pattern.svg') 50% 100% repeat $color-background;
  background-size: $pattern-size-small;
  color: $color-unremarkable;

  @include respond-medium {
    padding: $spacing-medium;
    background-size: $pattern-size-medium;
  }

  @include respond-large {
    padding: ($footer-offset-large + $spacing-large) $spacing-large
      $spacing-large $spacing-large;
    background-size: $pattern-size-large;
  }

  a {
    color: $color-content;
  }

  #{$component}__wrapper {
    position: relative;
    z-index: 1;
    max-width: $max-wrapper-width;
    margin: 0 auto;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  #{$component}__links {
    font-size: 0;
    list-style: none;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 $spacing-small;
      font-family: $font-family-headlines, sans-serif;
      font-weight: $font-weight-headlines;
      font-size: $font-size;
      text-transform: uppercase;
    }
  }
}
