.math {
  display: inline-block;
  margin: 0 .1em;
  padding: 0 .3em;
  background: #eee;
  font-family: $font-family-quotes, serif;
  font-weight: $font-weight-quotes;
  font-style: $font-style-quotes;
  border-radius: .2em;
  line-height: 1.5;
}
