@use 'sass:math';

* {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  -webkit-text-size-adjust: 100%;

  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  font-size: $font-size;

  @include respond-medium {
    font-size: $font-size-medium;
  }

  @include respond-large {
    font-size: $font-size-large;
  }
}

body {
  background: $color-content;
  color: $color-text;
  font-family: $font-family-copy;
  font-weight: $font-weight-copy;
  font-size: 1rem;
  line-height: $line-height;
}

h1,
h2,
h3 {
  position: relative;
  z-index: 2;
  margin-bottom: 1rem;
  font-family: $font-family-headlines;
  font-weight: $font-weight-headlines;
  line-height: $line-height-headlines;
  font-style: $font-style-headlines;
  text-transform: uppercase;
  color: inherit;
}

h1 {
  font-size: 2rem;
}

h2,
h3 {
  * + & {
    margin-top: 2rem;
  }
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

p,
ul,
ol {
  margin-bottom: 1rem;
}

ul {
  margin-left: 1em;
  list-style: square;
}

ol {
  margin-left: 1.1em;
  list-style: decimal;
}

a {
  text-decoration: underline;
  color: inherit;
  text-decoration-skip-ink: auto;

  &:hover {
    text-decoration: underline;
  }
}

code {
  display: inline;
  margin: 0 0.3em;
  padding: 0.15em;
  background: $color-code;
  box-shadow: 0.15em 0 0 $color-code, -0.15em 0 0 $color-code;
  color: $color-code-text;
  border-radius: 0.2em;
  font-family: $font-family-code;
  font-size: $font-size-smaller;
  line-height: 1.5;
  box-decoration-break: clone;
}

pre {
  position: relative;
  background: $color-code;
  overflow: hidden;
  margin: 0 (-1 * $spacing-small) 1rem (-1 * $spacing-small);

  @include respond-medium {
    margin-left: (-1 * $spacing-medium);
    margin-right: (-1 * $spacing-medium);
  }

  @include respond-large {
    margin-left: math.div($spacing-large, -4);
    margin-right: math.div($spacing-large, -4);
    border-radius: 0.3em;
  }

  code {
    margin: 0;
    box-shadow: none;
    box-decoration-break: initial;

    &,
    &.hljs {
      padding: $spacing-small;

      @include respond-medium {
        padding: $spacing-medium;
      }

      @include respond-large {
        padding: math.div($spacing-large, 4);
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 100%;
      box-shadow: 0 0 math.div($spacing-small, 2) math.div($spacing-small, 2)
        $color-code;

      @include respond-medium {
        box-shadow: 0 0 math.div($spacing-medium, 2)
          math.div($spacing-medium, 2) $color-code;
      }

      @include respond-large {
        box-shadow: 0 0 math.div($spacing-large, 4) math.div($spacing-large, 4)
          $color-code;
      }
    }
  }
}

blockquote {
  margin-bottom: 1rem;

  p {
    display: inline;
    padding: 0.2rem 0.4rem;
    background: $color-highlights;
    line-height: 1.75rem;
    box-decoration-break: clone;

    &:before {
      content: '»';
    }

    &:after {
      content: '«';
    }
  }

  a {
    &,
    &:hover {
      text-decoration: none;
    }
  }
}

mark {
  margin: 0 -0.4em;
  padding: 0 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba($color-highlights, 0.1),
    rgba($color-highlights, 0.7) 5%,
    rgba($color-highlights, 0.3)
  );
  box-decoration-break: clone;
}

sup,
sub {
  margin-left: 0.125em;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

.footnotes-sep {
  display: none;
}

.footnote-ref {
  margin-left: 0.2em;
}

.footnote-item {
  p {
    margin-bottom: 0;
  }
}
