@import url('http://fonts.googleapis.com/css?family=#{str-replace($font-family-copy, ' ', '+')}:#{$font-weight-copy},#{$font-weight-copy-bold}|#{str-replace($font-family-quotes, ' ', '+')}:#{$font-weight-quotes}#{$font-style-quotes}|#{str-replace($font-family-headlines, ' ', '+')}:#{$font-weight-headlines}');

* {

  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  -webkit-text-size-adjust: 100%;

  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }

}

html,
body {
  width: 100%;
  height: 100%;
}

body {

  background: $color-background;
  color: $color-text;
  font-family: $font-family-copy, sans-serif;
  font-size: $font-size;
  font-weight: $font-weight-copy;
  line-height: $line-height;
  overflow-x: hidden;

  @include respond-medium {
    font-size: $font-size-medium;
  }

  @include respond-large {
    font-size: $font-size-large;
  }

}

h1,
h2,
h3,
h4,
h5,
h6 {

  margin-bottom: ($spacing-small / 2);
  font-family: $font-family-headlines, sans-serif;
  font-weight: $font-weight-headlines;
  color: $color-primary;

  @include respond-medium {
    margin-bottom: ($spacing-medium / 2);
  }

  @include respond-large {
    margin-bottom: ($spacing-large / 2);
  }

}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1em;
}

code {
  display: inline;
  margin: 0 0.3em;
  padding: 0.15em;
  background: $color-code;
  box-shadow: 0.15em 0 0 $color-code, -0.15em 0 0 $color-code;
  color: $color-code-text;
  border-radius: 0.2em;
  line-height: 1.5;
  box-decoration-break: clone;
}

p {

  margin-bottom: $spacing-small;

  @include respond-medium {
    margin-bottom: $spacing-medium;
  }

  @include respond-large {
    margin-bottom: ($spacing-large / 2);
  }

}

pre {

  position: relative;
  background: $color-code;
  overflow: hidden;
  margin: 0 (-1 * $spacing-small) $spacing-small (-1 * $spacing-small);

  @include respond-medium {
    margin: 0 (-1 * $spacing-medium) $spacing-medium (-1 * $spacing-medium);
  }

  @include respond-large {
    margin: 0 (-1 * ($spacing-large / 2)) ($spacing-large / 2) (-1 * ($spacing-large / 2));
  }

  code {

    margin: 0;
    box-shadow: none;
    box-decoration-break: initial;

    &,
    &.hljs {

      padding: $spacing-small;

      @include respond-medium {
        padding: $spacing-medium;
      }

      @include respond-large {
        padding: ($spacing-large / 2);
      }

    }

    &:before {

      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 100%;
      box-shadow: 0 0 ($spacing-small / 2) ($spacing-small / 2) $color-code;

      @include respond-medium {
        box-shadow: 0 0 ($spacing-medium / 2) ($spacing-medium / 2) $color-code;
      }

      @include respond-large {
        box-shadow: 0 0 ($spacing-large / 2) ($spacing-large / 2) $color-code;
      }

    }

  }

}

ul,
ol {

  margin-bottom: ($spacing-small / 2);

  @include respond-medium {
    margin-bottom: ($spacing-medium / 2);
  }

  @include respond-large {
    margin-bottom: ($spacing-large / 2);
  }

}

ul {
  list-style: square;
  margin-left: 1.3em;
}

ol {
  list-style: decimal;
  margin-left: 1.1em;
}

blockquote {

  $quotation-mark-original-width: 15px;
  $quotation-mark-original-height: 10px;

  $quotation-mark-width: 1em;
  $quotation-mark-height: ($quotation-mark-width / $quotation-mark-original-width * $quotation-mark-original-height);

  padding-left: calc(#{$quotation-mark-width} + #{($spacing-small / 2)});
  background: url('../img/quote.svg') 0 (((1em * $line-height-quotes) - 1em) / 2) no-repeat;
  background-size: $quotation-mark-width $quotation-mark-height;
  font-family: $font-family-quotes, serif;
  font-weight: $font-weight-quotes;
  font-style: $font-style-quotes;
  font-size: $font-size-quotes;
  line-height: $line-height-quotes;
  color: $color-unremarkable;

  @include respond-medium {
    padding-left: calc(#{$quotation-mark-width} + #{($spacing-medium / 2)});
  }

  @include respond-large {
    padding-left: calc(#{$quotation-mark-width} + #{($spacing-large / 3)});
  }

  a {
    color: $color-unremarkable;
  }

}

a {

  text-decoration: none;
  color: $color-primary;

  &:hover {
    text-decoration: underline;
  }

}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
