$breakpoint-medium: 500px;
$breakpoint-large: 1000px;

$spacing-small: 20px;
$spacing-medium: 40px;
$spacing-large: 80px;

$color-background: #282c34;
$color-content: #fff;
$color-text: #666;
$color-primary: #000;
$color-unremarkable: #aaa;
$color-highlights: #f4f6b2;
$color-math: #eee;
$color-code: #282c34;
$color-code-text: #abb2bf;
$color-lines: mix($color-unremarkable, $color-background, 25%);

$font-size: 16px;
$font-size-medium: 18px;
$font-size-large: 20px;
$font-size-quotes: 1.5em;

$line-height: 1.75;
$line-height-quotes: 1.25;

$font-family-copy: 'Roboto';
$font-family-quotes: 'Old Standard TT';
$font-family-headlines: 'Montserrat';

$font-weight-copy: 400;
$font-weight-copy-bold: 700;
$font-weight-quotes: 400;
$font-weight-headlines: 700;

$font-style-quotes: italic;

$max-wrapper-width: 700px;
$max-wrapper-width-oversized: 1000px;
