.image {
  $component: &;

  display: block;
  margin: 0 (-1 * $spacing-small) 1rem (-1 * $spacing-small);

  @include respond-medium {
    margin-left: (-1 * $spacing-medium);
    margin-right: (-1 * $spacing-medium);
  }

  @include respond-large {
    margin-left: ($spacing-large / -4);
    margin-right: ($spacing-large / -4);
    border-radius: 0.3em;
    overflow: hidden;
  }

  &#{$component}--bordered {
    @include respond-large {
      border: 1px solid $color-unremarkable;
    }
  }

  img {
    margin: 0 auto;
  }
}
